<div class="repos-list">
    <div class="search-repos">
        <h4>{{type}}:</h4>
        <input type="text" ng-model="search.name" placeholder="search {{type}} by name"/>
    </div>
    <div class="repos-row">
        <div class="lab" ng-repeat="repo in filtered = (repos | filter:search)">
            <h4>{{::repo.name}}</h4>
            <p>{{::repo.description}}</p>
            <div class="repo-actions">
                <a ng-href="{{::repo.html_url}}" target="_tab_{{::repo.id}}">Source</a>
                <span ng-if="canUpload">| <a href ng-click="showUpload({repo: repo});">Upload to Manager</a></span>
            </div>
        </div>
    </div>
    <div ng-show="!loading && !filtered.length">
        <td colspan="{{canUpload ? 4 : 3}}">No Data Found</td>
    </div>
    <div ng-show="loading">
        <td colspan="{{canUpload ? 4 : 3}}">Loading...</td>
    </div>
</div>
